Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
AI_Project/Content/Animation
AI_Project/Content/AssetPacks
AI_Project/Content/Cave
AI_Project/Content/Collections
AI_Project/Content/Developers
AI_Project/Content/Geometry
AI_Project/Content/Mannequin
AI_Project/Content/ParagonKhaimera
AI_Project/Content/ParagonRiktor
AI_Project/Content/ParagonShinbi
AI_Project/Content/Maps